RewriteEngine On
RewriteBase /Portifolio-Ricardo-Freschi/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Portifolio-Ricardo-Freschi/index.html [L]
